<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Restaurant List</title>

  {{!-- link css file here --}}
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>


<body>

  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
          我的餐廳清單
        </a>
        <button class="btn btn-secondary">
          <a href="/restaurants/create" style="text-decoration:none; color:azure">新增</a>
        </button>
      </div>
    </nav>

    <div class="banner"></div>
  </header>


  {{!-- partial templates will replace here --}}
  {{{body}}}


  {{!-- include js file here --}}
  <script src="/javascript/jquery-3.6.0.min.js"></script>
  <script src="/javascript/popper.min.js"></script>
  <script src="/javascript/bootstrap.js"></script>
</body>

</html>